NODE_ENV=development
PORT=3000
DATABASE_URL=postgresql://user:password@host:5432/dbname
REDIS_URL=redis://localhost:6379
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

# ----------------------------------------------

GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
GOOGLE_CALLBACK_URL=http://localhost:3001/api/v1/auth/google/callback

GITHUB_CLIENT_ID=your_github_client_id
GITHUB_CLIENT_SECRET=your_github_client_secret
GITHUB_CALLBACK_URL=http://localhost:3001/api/v1/auth/github/callback

OAUTH_SUCCESS_REDIRECT=http://localhost:3000/auth/callback
OAUTH_FAILURE_REDIRECT=http://localhost:3000/auth/error